#dashboard {
    display: none;
}

#activeResources {
    background-color: black;
}

.row {
    display: flex;
}

.btnOperation {
    font-size: 20px;
    padding: 10px;
}

.cell {
    display: inline-block;
    /* padding: 5px; */
    border: 1px solid gray;
    min-height: 100%;
    position: relative;
    width: 200px;
    text-align: center;
}

.cell .text {
    display: inline-block;
    width: 85%;
    border-radius: 5px;
    background-color: #196B24;
    color: white;
    padding: 10px;
    margin: 2px;
    text-align: center;
    word-wrap: break-word;
}